{% extends 'layout.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}

<div class =) "container-fluid">
  <div class="row">
    <div class="col-lg-4 p-3">
     <p>Si vous êtes un PARTICULIER</p>
    </div>
  </div>
  <div class="container">
    <div class = "row">
    </div>
        {% for office in offices %}
        <div class="card">
          <div class="card-header">
                    {{ office.name }}
          </div>
            <div class="card-body">
              <h5 class="card-title">  {{ office.address }} - {{ office.zipcode }} </h5>
              <p class="card-text"> {{ office.phone }}</p>
            </div>
        </div>
              {% endfor %}
  </div>
</div>

{% endblock %}
