
{% extends 'layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    {% include 'Includes/_accueil.html.twig' %}
    <header class="container-fluid p-5">
    </header>
    <main class="container-fluid">
        <section>
            {% include "Components/_story.html.twig" %}
        </section>
        <section>
            {% include "Components/_activity.html.twig" %}
        </section>
        <section>
            {% include "Components/_education.html.twig" %}
        </section>
    </main>
{% endblock %}
