{% extends 'layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <header class="container-fluid p-5">
    </header>
    <main class="container-fluid">
        <div class="story-home d-flex">
            {% include "Components/_story.html.twig" %}
        </div>
        <div class="activity-home d-flex">
            {% include "Components/_activity.html.twig" %}
        </div>
    </main>
{% endblock %}
