
{% extends 'layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <main class="container-fluid p-0">
        {% include 'Includes/_accueil.html.twig' %}
        {% include "Components/_story.html.twig" %}
        <section class="activity py-5 container-fluid col-9">
            {% include "Components/_activity.html.twig" %}
        </section>
        {% include "Components/_education.html.twig" %}
    </main>
{% endblock %}
