{% extends 'layout.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <header class="container-fluid p-5">
    </header>
    <main class="container-fluid">
        {% include "includes/_story.html.twig" %}
        {% include "includes/_education.html.twig" %}
    </main>
{% endblock %}
