{% extends 'layout.html.twig' %}

{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Contact Particuliers{% endblock %}

{% block body %}
    <header class="container-fluid p-5">
    </header>
    <main class="container-fluid">
        <div class="row">
            {% include "Includes/_contact.html.twig" %}
            {% include "Includes/_contact_business.html.twig" %}
        </div>
    </main>
{% endblock %}
