{% extends 'layout.html.twig' %}

{% block title %}Espace Particuliers{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('individuals') }}
{% endblock %}


{% block body %}
    <div class="title_individuals text-center pt-3 mt-5">
        <h1>ESPACE PARTICULIERS</h1>
    </div>
    <section="services_section">
        <div class="services_bloc">
            <li class="list-group-item active text-start" aria-current="true">
                <h2>MES SERVICES</h2>
                <p class="services_description">J’accompagne au sein de mon cabinet, toute personne qui souhaite trouver un lieu d’écoute, de soutien, un lieu sécurisé et bienveillant, pour trouver les clés et les réponses d’un avenir meilleur. Les séances s’organisent et reposent sur des principes forts du cabinet, à savoir la confidentialité, la confiance, le non jugement.<br>
                    Ces principes rendent alors possible une expression libre et libérée, facilitée.</p>
                <img class="candle" img src="{{ asset('build/images/candle.png') }}" alt="candle_picture">
                <div class="container d-flex justify-content-center">
                    <div class="card w-20 h-25">
                        <div class="card-body">Psychothérapie</div>
                        <div class="card-body">Aide psychologique</div>
                        <div class="card-body">Psychologie travail</div>
                        <div class="card-body">Anxiété</div>
                        <div class="card-body">Insomnie</div>
                    </div>
                    <div class="card w-20 h-25">
                        <div class="card-body">Dépression</div>
                        <div class="card-body">Harcèlement travail</div>
                        <div class="card-body">Stress</div>
                        <div class="card-body">Personnes handicapées</div>
                        <div class="card-body">Burn-out</div>
                    </div>
                    <div class="card w-20 h-25">
                        <div class="card-body">Test de personnalité</div>
                        <div class="card-body">Test psychotechnique</div>
                        <div class="card-body">Test d'orientation professionnelle</div>
                        <div class="card-body">Test de recrutement</div>
                        <div class="card-body">Développement personnel</div>
                    </div>
                    <div class="card w-20 h-25">
                        <div class="card-body">Confiance en soi</div>
                        <div class="card-body">Aptitudes sociales</div>
                    </div>
                </li>
                <p class="prices">*tarif unique à la consultation 50€ (durée de la séance 50 à 60 min)</p>
            </li>
        </div>
    </section>
{% endblock %}
