{% extends 'base.html.twig' %}

{% block navbar %}
	{% include 'Includes/_navbar.html.twig' %}
{% endblock %}

{% block stylesheets %}
	{{ parent() }}
	{{ encore_entry_link_tags('individuals') }}
{% endblock %}


{% block body %}
	<div class="title_individuals text-center pt-3 mt-5">
		<h1>ESPACE PARTICULIERS</h1>
	</div>
	<section="services_section">
		<div class="services_bloc">
			<li class="list-group-item active text-start" aria-current="true">
				<h2>MES SERVICES</h2>
				<p class="services_description">J’accompagne au sein de mon cabinet, toute personne qui souhaite trouver un lieu d’écoute, de soutien, un lieu sécurisé et bienveillant, pour trouver les clés et les réponses d’un avenir meilleur. Les séances s’organisent et reposent sur des principes forts du cabinet, à savoir la confidentialité, la confiance, le non jugement.<br>
					Ces principes rendent alors possible une expression libre et libérée, facilitée.</p>
				<img class="candle" img src="{{ asset('build/images/candle.png') }}" alt="candle_picture">
				<div class="container d-flex justify-content-center">
					<div class="card w-20 h-25">
					{% for service in services %}
						<div class="card-body">{{ service.name }}</div>
					{% endfor %}
		        </div>
			</li>
		</div>
	</section>
{% endblock %}
