<header class="home d-flex row">
    <div class="col-xl-7">
        <div class="quote fst-italic col-11 pt-5 mt-5 px-2 offset-1 col-sm-11 px-sm-5 px-md-5 col-md-10 offset-md-0 pt-md-3 col-lg-8 pt-lg-4 px-lg-5 col-xl-11 offset-xl-1 col-xxl-11">
        "Ce qui tourmente les hommes,
        ce n'est pas la réalité,
        mais les opinions qu'ils s'en font."
        </div>
        <div class="quote px-5 offset-sm-1 offset-md-0 pt-lg-3 offset-xl-1">
        Epictète
        </div>
    </div>
    <div class="row text-center text-sm-center pt-5 pb-5 px-5">
        <div class="col-xl-6">
            <a class="col-12 col-sm-6 col-md-7 col-lg-8 col-sm-12 col rounded-pill border border-3 btn btn-light" type="btn" href="{{ path('particuliers') }}">PARTICULIERS</a>
        </div>
        <div class="col-xl-6">
            <a class="col-12 col-sm-6 col-md-7 col-lg-8 col-sm-12 rounded-pill border border-3 btn btn-light" type="btn" href="{{ path('entreprises') }}">ENTREPRISES</a>
        </div>
    </div>
</header>
