<header class="home d-flex row">
    <div class="col-xl-7">
        <div class="quote fst-italic pt-5 mt-5 offset-xl-1">"Ce qui tourmente les hommes,
        ce n'est pas la réalité,
        mais les opinions qu'ils s'en font."
        </div>
        <div class="quote offset-xl-1">
        Epictète
        </div>
    </div>
    <div class="row text-sm-center pt-5 pb-5 px-5">
        <div class="col-xl-6">
            <button class="col-xl-8 col-sm-12 col rounded-pill border border-3 btn btn-primary" type="button">PARTICULIERS</button>
        </div>
        <div class="col-xl-6">
            <button class="col-xl-8 col-sm-12 rounded-pill border border-3 btn btn-primary" type="button">ENTREPRISES</button>
        </div>
    </div>
</header>
