<div class="d-flex flex-column justify-content-center align-items-center p-3 my-3">
    <div class = "d-flex justify-content-center mt-5 mb-3 p-4">
        <h1 class = "titre">Si vous êtes une entreprise</h1>
    </div>
    <div class="container intro py-5">
        {{ form_start(form) }}
        {{ form_widget(form) }}
                <div class = "d-flex justify-content-end m-3 p-3">
                    <button class="btn btn-primary text-light">{{ button_label|default('Envoyer') }}</button>
                </div>
        {{ form_end(form) }}
    </div>
</div>