<section class="educ vh-30" id="education">
    <div class="card d-flex align-items-start justify-content-around m-3 ms-5 me-5 p-2 h-auto">
    <h2>Mes Formations/Diplômes</h2>
        <div class="card-body">
            {% for education in educations %}
                <h3 class="card-title">{{ education.name }}</h3>
                <p class="card-text">Obtenue en {{ education.getObtentionyear }}</p>
            {% endfor %}
        </div>
    </div>
</section>