<footer class="container-fluid pt-3 footer">
	<div class="row">
		<div class="col-sm-2 text-sm-end text-start">
			<img class="w-30 w-sm-100 pb-3 pt-3" src="{{ asset('build/images/loicprofil.adaef835.png') }}" alt="profil"/>
		</div>
		<div class="col-sm-3">
			<p class="psy">Psychologie-Coaching<br>
				Accompagnement Professionnel et Personnel<br><br>
				Numéro ADELI : 459309159
			</p>
		</div>
		
		<div class="col-sm-3 text-sm-start col-md-4 text-md-end col-lg-2 offset-lg-1 text-lg-end">
			<img class="w-lg-75 w-sm-100 w-50 pb-3 pt-3" src="{{ asset('build/images/Logo_L.Bretinrogn.a60dda67.png') }}" alt="photo" >
		</div>
		<div class="col-sm-3">
			<address class="contacts">Contacts<br>
				1 Rue Courcaille,
				45000 Orléans<br>
				89 Rue du Haut Midi,<br>
				45160 Saint-Hilaire-Saint-Mesmin<br>
				06 25 60 94 94
			</address>
		</div>
	</div>
</footer>
