<footer class="container-fluid pt-3 footer">
	<div class="row">
		<div class ="text-center col-sm-6 col-md-2 col-lg-3 text-lg-end">
			<img class="profil-loic col-4 col-md-9 col-lg-7 col-xl-4 pb-4 pt-3" src="{{ asset('build/images/loicprofil.png') }}" alt="profil"/>
		</div>
			<p class="psy text-center col-sm-6 text-sm-start col-md-2 text-md-start col-lg-2 pb-3 pt-4">
				Psychologie-Coaching<br><br>
				Accompagnement Professionnel et Personnel<br><br>
				Numéro ADELI : 459309159
			</p>
		<div class="text-center col-sm-6 col-md-3 text-md-end col-lg-3">
			<img class="col-5 col-sm-6 col-lg-8 col-xl-5 p-1 mt-2" src="{{ asset('build/images/Logo_L.Bretinrogn.png') }}" alt="photo" >
		</div>
		<address class="contacts text-center text-md-start col-sm-3 col-md-2 col-lg-1 pt-4">
			Cabinet 1:<br><br>
			1 Rue Courcaille,<br>
			45000 Orléans<br><br>
			06 25 60 94 94
		</address>
		<address class="contacts text-center text-md-start col-sm-3 col-lg-2 pt-4">
			Cabinet 2:<br><br>
			89 Rue du Haut Midi,<br>
			45160 Saint-Hilaire-Saint-Mesmin
		</address>
	</div>
</footer>
