<nav class="navbar navbar-expand-lg fixed-top bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
    <img class = "logo" src="{{ asset('build/images/logo.png') }}" alt="logo"> CABINET DE <strong>PSYCHOLOGIE</strong></a>
    <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse justify-content-end" id="navbarNavAltMarkup">
    <div class = "navbar-nav">
          <a class="nav-item nav-link active" href="#">Accueil</a>
          <a class="nav-item nav-link active" href="#">Particuliers</a>
          <a class="nav-item nav-link active" href="#">Entreprises</a>
          <a class="nav-item nav-link active" href="#">Contact</a>
          <a class="nav-item nav-link active" href="https://www.doctolib.fr/psychologue/orleans/loic-bretin">Prise de RDV</a>
    </div>
    </div>
  </div>
</nav>