{% for label, messages in app.flashes %}
    {% for message in messages %}
        <div class="row col-md-3 m-5 flash alert alert-{{ label }}" role = "alert">
            {{ message }}
        </div>
    {% endfor %}
{% endfor %}
