.activity {
    height: auto;
    font-weight: bolder;
}

.text-activity {
    background-size: cover;
}

.activity-title {
    color: $quarternary;
}

.activity .card-activity {
    color: $quarternary;
}

.activity .card-body {
    max-height: 180px;
}
