@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";


.title-companies{
    color: $quinary;
    font-weight: 900;
    background-color: opacify($color: #ffffff90, $amount: -0);
    text-align: center;
    position: absolute;
    top: 50%;
    left: 40%;
}

.background-companies{
    background-image: url("/assets/images/background-entreprises.jpg");
    height: 480px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h2{
    color: $quinary;
    font-weight: bolder;
}

.container_description{
    background-color: $senary;
}

.p_1, .p_2, .p_3, .p_4, .p_5, .p_6, .p_7, .p_8, .p_9, .p_10{
    font-size: $text-size;
    color: $quarternary;
}

ul li{
    list-style-type: none;
    color: $quarternary;
}

.intervention{
    list-style: url('/assets/images/clipboard-check.svg');

}

.services{
    list-style: url('/assets/images/check-circle.svg');
}

ul li a{
    color: $quarternary;
}