@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";

.title_companies h1{
    color: $quinary;
    font-weight: 900;
    background-color: opacify($color: #ffffff90, $amount: -0);

    @media (min-width: 260px) and (max-width: 1400px) {
        display:none;
    }
}

h2{
    color: $quinary;
    font-weight: bolder;
}

.container_description{
    background-color: $senary;
}

.p_1, .p_2, .p_3, .p_4, .p_5, .p_6, .p_7, .p_8, .p_9, .p_10{
    font-size: $text-size;
    color: $quarternary;
}

ul li{
    list-style-type: none;
    color: $quarternary;
}

.intervention{
    list-style: url('/assets/images/clipboard-check.svg');

}

.services{
    list-style: url('/assets/images/check-circle.svg');
}

ul li a{
    color: $quarternary;
}