.intro {
    font-family: $second-text-font;
    color: $quarternary;
    font-size: $text-size;
    font-weight: bolder;
    background-color:$senary;
}

.cadre {
    font-family: $second-text-font;
    color: $quarternary;
    font-size: $text-size;
    font-weight: bolder;
}

.card-header {
    font-family: $second-text-font;
    font-size: $title-size;
    font-weight: bolder;
    color:  $quinary;
    background-color:$light;
}

.h2{
    font-weight: bolder;
    color:  $quinary;
}

.titre 
{
    color:  $quinary;
    font-size: $title-size;
}
