@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";

.title_individuals h1{
    color: $quinary;
    font-weight: 900;
    background-color: opacify($color: #ffffff90, $amount: -0);
 

    @media (min-width: 260px) and (max-width: 1400px) {
        display:none;
}

}

h2{
    color: $quinary;
    font-weight: bolder;
}

.services{
    background-color: $senary;
    border-color: $senary; 
}

.card-body{
    color: $quinary;
    font-weight: bolder;
}

.prices{
    color: $quinary;
    font-weight: bolder;
 }

.candle{
    width: 250px; 
    height: 200px;
}


.services_description{
    font-size: 18px;
    text-align: justify;
    line-height: 1.5em;
    color: $quarternary;
}