@import 'variables.scss';
@import "~bootstrap/scss/bootstrap";

.title-individuals{
    color: $quinary;
    font-weight: 900;
    background-color: opacify($color: #ffffff90, $amount: -0);
}

.background-individuals{
    background-image: url("/assets/images/background-particuliers.jpg");
    height: 480px;
    width: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

h2{
    font-size: $title-size;
    color: $quinary;
    font-weight: bolder;
}

.services{
    background-color: $senary;
    border-color: $senary; 
}

.card-body{
    color: $quinary;
    font-weight: bolder;
}

.prices{
    color: $quinary;
    font-weight: bolder;
 }

.services_description{
    font-size: $text-size;
    text-align: justify;
    color: $quarternary;
}