@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$primary: #99BEAF;
$secondary: #73AEBB;
$tertiary: #6e9a88;
$quarternary: #264766;
$quinary: #BC9955;
$senary: #E5F2ED;
$light: #fffbfb;
$dark: #0D0400;
$grey: #D8D5CE;

$text-font:'Roboto', sans-serif;
$second-text-font: 'Nunito', sans-serif;
$title-font:'Roboto', sans-serif;

$section-height: 100vh;

$text-size: 16px;
$title-size: 24px;
$line-height: 24px;