@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

$primary: #99BEAF;
$secondary: #73AEBB;
$tertiary: #6e9a88;
$quarternary: rgb(17, 75, 88);
$light: #fffbfb;
$dark: #0D0400;

$text-font:'Roboto', sans-serif;
$second-text-font: 'Nunito', sans-serif;
$title-font:'Roboto', sans-serif;
