$primary: #99BEAF;
$secondary: #73AEBB;
<<<<<<< HEAD
$tertiary: #6e9a88;
=======
>>>>>>> e85c2fff881c3ffbb0f2d48c4197b13715a632ae
$light: #fffbfb;
$dark: #0D0400;

$text-font:'Roboto', sans-serif;
$title-font:'Roboto', sans-serif;
