{% extends 'layout_admin.html.twig' %}

{% block title %}Admin Ajout DipLôme/Formation{% endblock %}

{% block body %}
    <header class="container-fluid m-3 p-2">
    </header>
    <main class="container-fluid">
        <div>
           <div class = "fw-bold text-center">
                <h1 class = "titre">Ajouter un nouveau diplôme ou formation</h1>
            </div>
            {% include "education/new.html.twig" %}
        </div>
    </main>
{% endblock %}
