{% extends 'layout.html.twig' %}

{% block title %}Admin Modifier Biographie{% endblock %}

{% block body %}
    <header class="container-fluid m-3 p-2">
    </header>
    <main class="container-fluid">
        <div>
           <div class = "fw-bold text-center">
                <p class = "titre">Modifier la biographie</p>
            </div>
            {% include "user/edit.html.twig" %}
        </div>
    </main>
{% endblock %}