{% extends 'layout_admin.html.twig' %}

{% block title %}Admin Qui-suis-je{% endblock %}

{% block body %}
    <header class="container-fluid m-3 p-2">
    </header>
    <main class="container-fluid">
        <div>
           <div class = "fw-bold text-center">
                <h1 class = "titre">Biographie</h1>
            </div>
            {% include "user/index.html.twig" %}
        </div>
    </main>
{% endblock %}