{% extends 'layout.html.twig' %}

{% block title %}Conditions Générales d'Utilisation
{% endblock %}

{% block body %}
	<div class="container justify-content-center my-5 py-5">
	<div class="intro bg-light">
		<h1 class="my-5">Mentions légales</h1>
		<p>Le site « Cabinet Bretin» est édité par Loic Bretin</p>
		<ul>
			<li>Siège social : St Hilaire St Mesmin </li>
			<li>Tél : 06 25 60 94 94</li>
			<li>Siret : 88467659400010</li>
			<li>Directeur de la publication : Loic Bretin</li>
		</ul>
		<h2 class="my-5">Conservation des données</h2>
		<ul>
			<li class="pb-3">Les données saisies ont uniquement vocation à permettre au cabinet de vous contacter afin de répondre à votre demande. Vous donnez donc votre accord dans ce but et à cet usage exclusif. Aucune donnée ne sera conservée. Ce formulaire reste facultatif.</li>
		</ul>
	</div>
	</div>
    <div class="p-2">
    </div>
{% endblock %}
