<section class="activity">
    <div class="card-activity row text-activity justify-content-around px-5">
        <div class="card-stones col-sm-6" style="width: 18rem;">
            <p class="card-text d-flex justify-content-center">
                Activité
            </p>
            <div class="card-body pb-2">
                <img src="{{ asset('build/images/activyrock_2.png') }}" class="card-img-top" alt="stones">
            </div>
        </div>
        <div class="container col-sm-6 activity-title pt-5">
            <p class="card-text d-flex justify-content-center pt-3">
            Venir au cabinet et me rencontrer, c’est s’offrir un espace d’écoute sécurisé.
            <br>
            En effet, vous rentrerez dans un lieu chaleureux, discret où vous pourrez vous poser en toute sécurité et exprimer sans jugement votre problématique.
            <br>
            Mon rôle vise à vous aider à verbaliser votre problématique et mettre des mots sur ce que vous éprouvez.
            Mon intervention se fait dans une approche humaniste, qui vise à se centrer sur la personne et sur sa capacité à verbaliser et comprendre la situation et ses difficultés.
            <br><br>
            La personne trouve ses propres issues, solutions en requestionnant la situation et la problématique.
            Les séances s’organisent et reposent sur des principes forts du cabinet, à savoir la confidentialité, la confiance, l’écoute, le non jugement.
            Ces principes rendent alors possible une expression libre et libérée, facilitée.
            <br><br>
            L’approche humaniste du cabinet que je développe place le thérapeutique et le patient d’égal à égal, en respect mutuel.
            </p>
        </div>
    </div>
</section>
