<section class="activity py-5 container-fluid col-9">
    <h2 class="text-center text-lg-start">Activité</h2>
    <div class="d-flex flex-column-reverse flex-lg-row justify-content-between align-items-center ">
        <img src="{{ asset('build/images/strong-stone-happy.png') }}" class="stone rounded-3" alt="Strong Stone">
        <p class="ms-4 mt-4 mt-md-1">
            Venir au cabinet et me rencontrer, c’est s’offrir un espace d’écoute sécurisé.
            <br><br>
            En effet, vous rentrerez dans un lieu chaleureux, discret où vous pourrez vous poser en toute sécurité et exprimer sans jugement votre problématique.
            <br><br>
            Mon rôle vise à vous aider à verbaliser votre problématique et mettre des mots sur ce que vous éprouvez.
            Mon intervention se fait dans une approche humaniste, qui vise à se centrer sur la personne et sur sa capacité à verbaliser et comprendre la situation et ses difficultés.
            <br><br>
            La personne trouve ses propres issues, solutions en requestionnant la situation et la problématique.
            Les séances s’organisent et reposent sur des principes forts du cabinet, à savoir la confidentialité, la confiance, l’écoute, le non jugement.
            Ces principes rendent alors possible une expression libre et libérée, facilitée.
            <br><br>
            L’approche humaniste du cabinet que je développe place le thérapeutique et le patient d’égal à égal, dans un respect mutuel.
        </p>
    </div>
</section>
