<section class="activity">
    <div class="card-activity row text-activity justify-content-around px-5">
        <div class="card-stones col-lg-4" style="width: 18rem;">
            <h2 class="activity-title px-3">Activité</h2>
            <p class="card-text px-3"> Venir au cabinet et me rencontrer, c’est s’offrir un espace d’écoute sécurisé.</p>
            <div class="card-body">
                <img src="{{ asset('build/images/stones-activity.png') }}" class="card-img-top" alt="stones">
            </div>
        </div>
        <div class="card-activity-first col-lg-4">
            <p>
            En effet, vous rentrerez dans un lieu chaleureux, discret où vous pourrez vous poser en toute sécurité et exprimer sans jugement votre problématique.
            Mon rôle vise à vous aider à verbaliser votre problématique et mettre des mots sur ce que vous éprouvez.
            <br><br>
            L’expression libre va vous permettre de mieux comprendre l’origine de la difficulté.
            Recréer un espace d’expression, de questionnement, de soutien, permet à la fois d’identifier des zones de développement, d’un nouveau pouvoir d’agir en ayant questionné la situation vécue et perçue.
            </p>
        </div>
        <div class="card-activity-next col-lg-4 pt-2">
            <p>
            Mon intervention se fait dans une approche humaniste, qui vise à se centrer sur la personne et sur sa capacité à verbaliser et comprendre la situation et ses difficultés.
            La personne trouve ses propres issues, solutions en requestionnant la situation et la problématique.
            <br><br>
            Les séances s’organisent et reposent sur des principes forts du cabinet, à savoir la confidentialité, la confiance, l’écoute, le non jugement.
            Ces principes rendent alors possible une expression libre et libérée, facilitée.
            L’approche humaniste du cabinet que je développe place le thérapeutique et le patient d’égal à égal, en respect mutuel.
            </p>
        </div>
    </div>
</section>
