
<section class="story vh-auto" id="biography">
    <div class="row g-0 d-flex align-items-start justify-content-evenly p-5">
        <div class="col-md-9 col-lg-9 w-auto">
            <h2 class="title p-bottom-2">Qui suis-je ?</h2>
            {% if user is not empty %}
                <p>{{ user.biography|nl2br }}</p>
            {% endif %}
        </div>
        <div class="col-md-3 col-lg-3">
            {% if user is not empty %}
                <img src="{{ vich_uploader_asset(user) }}" class="img-fluid rounded-3 w-50 h-50" alt="photo de Loïc Bretin">
            {% endif %}
            <h2>Loïc Bretin</h2>
            <p>Psychologue du travail</p>
        </div>
    </div>
</section>
